.pitch {
    margin: 0 3%;
    position: absolute;
    top: 35%;
    font-size: 1.9vw;
  }
  .pitch h1 {
    font-size: 3em;
    margin: 0 0 0 0.2em;
    font-weight: 700;
  }
  .pitch p {
    margin: 0 0 0 0.5em;
  }
  .btn {
    font-size: 14px;
    letter-spacing: 1.9px;
    font-weight: 400;
    margin: .5em .5em .5em 0;
    padding: 12px 2em;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 2px;
  }
  .btn-large {
    padding: 18px 20px;
  }
  .btn:hover {
    background: #f40612;
  }
  